@charset "UTF-8" ;

@font-face {
    font-family: 'Calvino Bold';
    src: url('Calvino-Bold-trial.ttf') format('truetype') ;
}

/*
    Type of Formats
    - opentype (otf)
    - truetype (ttf)
    - embedded-opentype
    - truetype-aap (Apple Advanced Typography)
    - svg
*/

h1 {
    font-family: 'Calvino Bold' ;
}
h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
body {
    text-align:justify ;
    font-family: 'Calvino Bold';
}